.charttop {
  /*float: left;*/
  height: 50%;
  width: 50%;
}

.chartbtm{
  /*float: left;*/
  height: 50%;
  width: 50%;
}

/* .chart-bottom-row {
  padding-bottom: 5px;
} */

.chartline{
  height: 20%;
}

.text-div {
  text-align:center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.text-span {
  color: white;
  font-family: 'Helvetica Neue';
  font-weight: 750;
  font-size: 16px;
}
