/* .appbar {
    top: 0%;
    width: 100%;
} */

.dash-main-div {
  position: absolute;
  padding-top: 30px;
  background-color: black; /*sets the background colour*/
  width: 100%;
  height: calc(100% - 30px);
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.rowtop {
  width: 50%;
  height: 50%;
  /*float: left;*/
}

.rowbtm{
  width: 50%;
  height: 50%;
  /*float: left;*/
}

.maincharttable{
  width: 100%;
  height:100;
  background-color: black;
}
