.login-page {
    background-image: url('./../resources/login_bg.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#login-button {
    position: absolute;
    top: 45%;
    left: 36%;
    width: 24%;
    height: 10%;
    border: 0.22em solid white;
    border-radius: 0.12em;
    box-sizing: border-box;
    background-color: rgba(166, 185, 240, 0.671);
    font-family:'Roboto',sans-serif;
    font-size: 1.5em;
    font-weight: 450;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2ms
}

#login-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}